.navDiv {
  position: relative;
}
.itemsIcon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  background-color: coral;
  color: aliceblue;
}

.itemsDiv {
  text-align: center;
  color: black;
  background-color: aliceblue;
  width: 28px;
  border-radius: 50%;
}
